/** EWW.SCSS
Created by saimoom **/
@import "catppuccin.scss";

*{
	all: unset;
	font-family: JetBrainsMono Nerd Font;
}

/** General **/
.bar_class {
    background-color: $background;
    border-radius: 16px;
}
.module {
    margin: 0px 0px 0px 0px;
    border-radius: 10px 16px 0px 10px;
}

/** tooltip!! **/
tooltip.background {
    background-color: $mantle;
    font-size: 18;
    border-radius: 10px;
    color: #bfc9db;
}

tooltip label {
    margin: 6px;
}


/** Widgets **/

.clock_time_sep {
    font-size: 16;
    color: $foreground;
    margin: 0px 4px 1px 4px;
}
.clock_time_class, .clock_minute_class {
    font-size: 23;
}
.clock_date_class {
    font-size: 18;
    margin: 0px 20px 0px -1px;
    color: $foreground;
}
.clock_minute_class {
    margin: 0px 20px 0px 3px;
    color: $foreground;
}

.clock_time_class {
    color: $foreground;
    font-weight: bold;
    margin: 0px 5px 0px 0px;
}


.membar {
  color: $red;
  background-color: $surface0;
  border-radius: 10px;
}
.batbar {
  color: $green;
  background-color: $surface0;
  border-radius: 10px;
}
.stobar {
  color: $blue;
  background-color: $surface0;
  border-radius: 10px;
}
.brightbar trough highlight {
  background-image: linear-gradient(to right, $yellow 30%, $peach 50%, $maroon 100% *50);
  border-radius: 10px;
}
.volbar trough highlight {
  background-image: linear-gradient(to right, $blue 30%, $sapphire 50%, $sky 100% *50);
  border-radius: 10px;
}
.volume_icon {
    font-size: 22;
    color: $blue;
  margin: 0px 10px 0px 10px;
}


.module_essid {
    font-size: 18;
    color: $mauve;
  margin: 0px 10px 0px 0px;
}
.module-wif {
    font-size: 22;
    color: $mauve;
    border-radius: 100%;
  margin: 0px 10px 0px 5px;
}

.iconmem {
    color: $red;
}
.iconbat {
    color: $green;
}
.iconsto {
    color: $blue;
}
.iconbat, .iconmem, .iconsto {
    font-size: 15;
    margin: 10px;
}
.bright_icon {
    font-size: 22;
    color: $peach;
  margin: 0px 10px 0px 10px;
}


.separ {
    color: $surface1;
    font-weight: bold;
    font-size: 22px;
    margin: 0px 8px 0px 8px;
  }

.mem_module {
  background-color: $background;
	border-radius: 16px;
  margin: 0px 10px 0px 3px;
  }
.bat_module {
  background-color: $background;
	border-radius: 16px;
  margin: 0px 10px 0px 10px;
  }
.sto_module {
  background-color: $background;
	border-radius: 16px;
  margin: 0px 10px 0px 10px;
  }

scale trough {
  all: unset;
  background-color: $surface0;
  box-shadow: 0 2px 3px 2px $background;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}

.works {
font-size: 20px;
  font-weight: normal;
  margin: 5px 0px 0px 20px;
  background-color: $background;
}

.0 , .01, .02, .03, .04, .05, .06,
.011, .022, .033, .044, .055, .066{
  margin: 0px 10px 0px 0px;
}

/* Unoccupied */
.0 {
color: $surface1;
}

/* Occupied */
.01, .02, .03, .04, .05, .06 {
  color: $surface1;
}

/* Focused */
.011, .022, .033, .044, .055, .066 {
  color: $blue;
}


// .song_cover_art {
// 	background-size: cover;	
// 	background-position: center;
// 	min-height: 24px;
// 	min-width: 24px;
// 	margin: 10px;
// 	border-radius: 100px;
// }

// .song {
// 	color: $text;
// 	font-size : 18px;
// 	font-weight : bold;
// 	margin : 3px 5px 0px 0px;
// }

// .song_btn_play {
// 	color: $text;
// 	font-size : 28px;
// 	margin : 3px 0px 0px 5px;

// }


// .song_btn_prev, .song_btn_next {
// 	color: $text;
// 	font-size : 24px;
// 	margin : 3px 0px 0px 5px;

// }


.audio-box {
  background-color: $background;
border-radius: 16px;
}

.audio_sep {
  color: $surface1;
  font-size: 18;
margin : 0px 0px 0px 0px;
}

// Calendar
.cal {
  background-color: $background;
  font-family: JetBrainsMono Nerd Font;
  font-size: 18px;
  font-weight: normal;

.cal-in {
    padding: 0px 10px 0px 10px;
    color: $text;

.cal {
     &.highlight {
          padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}

calender {
    color: $text;
}
calendar:selected {
  color: $blue;
}

calendar.header {
color: $red;
font-weight: bold;
}

calendar.button {
color: $green;
}

calendar.highlight {
color: $blue;
font-weight: bold;
}

calendar:indeterminate {
color: $surface1;
}







.sys_sep {
    color: $surface1;
    font-size: 18;
    margin: 0px 10px 0px 10px;
}
.sys_text_bat_sub, .sys_text_mem_sub, .sys_text_sto_sub {
    font-size: 16;
    color: $text;
    margin: 5px 0px 0px 25px;
}
.sys_text_bat, .sys_text_mem, .sys_text_sto {
    font-size: 21;
    font-weight: bold;
    margin: 14px 0px 0px 25px;
}
.sys_icon_bat, .sys_icon_mem, .sys_icon_sto {
    font-size: 30;
    margin: 30px;
}
.sys_win {
  background-color: $background;
}
.sys_bat {
  color: $green;
  background-color: $surface0;
  border-radius: 10px;
}
.sys_mem {
  color: $red;
  background-color: $surface0;
  border-radius: 10px;
}
.sys_sto {
  color: $blue;
  background-color: $surface0;
  border-radius: 10px;
}
.sys_icon_bat, .sys_text_bat {
    color: $green;
}
.sys_icon_mem, .sys_text_mem {
    color: $red;
}
.sys_icon_sto, .sys_text_sto {
    color: $blue;
}
.sys_bat_box {
	border-radius: 16px;
    margin: 15px 10px 10px 20px;
}
.sys_mem_box {
	border-radius: 16px;
    margin: 10px 10px 15px 20px;
}
.sys_sto_box {
	border-radius: 16px;
    margin: 10px 10px 15px 20px;
}
